.f {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start; 


    height: 400px;
    background-color: brown;

    flex-wrap: wrap;
    gap: 50px;
}

.f-item {
    width: 150px;

    height: 150px;
    background-color: burlywood;
    flex-grow: 0;
    min-width: 10%;
}

.item1 {
   flex-grow: 2;
}

.item5 {
    flex-grow: 1;
}